# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# $ conda install --yes --file requirements.txt
# $ pip3 install -r requirements.txt (if you want to install using pip instead of conda
# platform: linux-64
cython
flask
numpy
scipy
pandas
matplotlib
requests
scikit-learn
statsmodels
scikit-image
nltk
seaborn
gensim
jupyterlab
spyder

gunicorn
redis
click
Sphinx
flake8
textblob
xlrd
flask_cors
psycopg2-binary
python-dotenv
sqlalchemy
pyaml
mongoengine
awscli